
.card-header{
    background-color: lightblue;
    color: blue;
    font-weight: 778;
    text-align: center;
    font-style: italic;
  }

  th{
      background-color: gray;
      text-align: center;
  }

  .btn{
      margin-top: 10px;
      margin-left: 20px;
  }